$color_primary: #2bc06e;
$color_primary_dark: darken($color_primary, 5%);
$color_gray_light: #a5a7ae;
$color_gray_light_10: lighten($color_gray_light, 10%);
$color_gray_light_15: lighten($color_gray_light, 15%);
$color_gray_light_20: lighten($color_gray_light, 20%);
$color_gray_light_25: lighten($color_gray_light, 25%);
$color_gray_light_30: lighten($color_gray_light, 30%);
$color_gray_dark: #999999;
$color_gray_dark_15: darken($color_gray_light, 15%);
$color_gray_dark_27: darken($color_gray_light, 27%);
$color_gray_dark_30: #808080;
$color_violet: #424e68;
$color_violet_dark: darken(#424E68, 15%);
$color_yellow: #ffd53c;
$color_danger: #e55353;
$color_danger_dark_15: darken($color_danger, 15%);
